.loading-spinner {
  background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 width=%2238%22 height=%2238%22 viewBox=%220 0 38 38%22 stroke=%22%23fff%22%3E %3Cg fill=%22none%22 fill-rule=%22evenodd%22 style=%22fill: %23000;%22%3E %3Cg transform=%22translate(1 1)%22 stroke-width=%222%22%3E %3Ccircle stroke-opacity=%22.5%22 cx=%2218%22 cy=%2218%22 r=%2218%22/%3E %3Cpath d=%22M36 18c0-9.94-8.06-18-18-18%22 transform=%22rotate(223.6 18 18)%22%3E %3CanimateTransform attributeName=%22transform%22 type=%22rotate%22 from=%220 18 18%22 to=%22360 18 18%22 dur=%221s%22 repeatCount=%22indefinite%22/%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
  display: inline-block;
  height: 38px;
  margin: 0 auto;
  width: 38px;
}
